.header_sistem{
    background-color: white;
    color: rgb(0, 0, 0);
}
.textMenu{
    color: rgb(234, 213, 213);
     margin: 0;
}
.conf_user{
    z-index: 1050 !important;
}

.menu{
    background-color: rgb(15, 50, 56);
    color:white;
    font-family: "Quicksand",sans-serif;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.466);
}
.menu .nav-link,
.menu .nav-link i,
.menu .textMenu {
  color: #ffffff !important; 
}

.menu .nav-link:hover i,
.menu .nav-link:hover .textMenu {
  color: #ffd369 !important; 
}

.menu .nav-link {
  display: flex;
  align-items: center;
  gap: 6px; /* espacio entre icono y texto */
}
.sub_menu{
    background-color: rgb(162, 232, 255) !important;
}

body{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.151)), 
                      url("../../public/img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.letter_quicksand{
    font-family: "Quicksand",sans-serif;
}

.active{
    border-bottom: 1px solid black !important;
}

.home_letter{
    color:rgb(27, 51, 33);
}

#container.fade-in {
  opacity: 1;
}

#container.fade-out {
  opacity: 0;
}

#container {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide_card{
    min-height: 200px;
    overflow: hidden;
    min-width: 33%;
}


.carousel-inner{
    text-align: center;
    position: relative;
}

.small-icon {
    font-size: 1.5rem; 
    color: black !important;
    opacity: 0.7;
}

.small-icon:hover {
    opacity: 1;
}

.btn_size{
    width: 100px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 30px !important; 
}

.carousel-control-prev .small-icon,
.carousel-control-next .small-icon {
    margin: 0 auto;
}

.carousel-control-prev,
.carousel-control-next {
    background: transparent !important;
    border: none;
}


.icon-hover {
    transition: transform 0.2s ease-in-out;
}

.icon-hover:hover {
    transform: scale(1.2); 
}
.button_hover{
    background-color: rgb(146, 231, 231);
    border-color: rgb(5, 131, 139);
}
.button_hover:hover {
    background-color: rgb(178, 160, 228);
    border-color: blueviolet;
}

.active-circle {
  width: 16px;
  height: 16px;
  border: 2px solid #5a4a94;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

.active-circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background-color: #62d2ff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.active-menu .nav-link {
  color: #a2f1f6;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}

