.header_sistem{
    background-color: rgb(255, 255, 255);
}

.conf_user{
    z-index: 1050 !important;
}

.menu{
    background-color: rgb(162, 187, 255);
    font-family: "Quicksand",sans-serif;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.466);
}

.sub_menu{
    background-color: rgb(162, 187, 255) !important;
}

body{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.151)), 
                      url("../IMG/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.letter_quicksand{
    font-family: "Quicksand",sans-serif;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.active{
    border-bottom: 1px solid black !important;
}

.home_letter{
    color:rgb(27, 51, 33);
}

#container.fade-in {
  opacity: 1;
}

#container.fade-out {
  opacity: 0;
}

#container {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide_card{
    min-height: 200px;
    overflow: hidden;
    min-width: 33%;
}


.carousel-inner{
    text-align: center;
    position: relative;
}

.small-icon {
    font-size: 1.5rem; 
    color: black !important;
    opacity: 0.7;
}

.small-icon:hover {
    opacity: 1;
}

.btn_size{
    width: 100px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 30px !important; 
}

.carousel-control-prev .small-icon,
.carousel-control-next .small-icon {
    margin: 0 auto;
}

.carousel-control-prev,
.carousel-control-next {
    background: transparent !important;
    border: none;
}
