.header_sistem{
    background-color: rgb(255, 255, 255);
}

.conf_user{
    z-index: 1050 !important;
}

.menu{
    background-color: rgb(162, 187, 255);
    font-family: "Quicksand",sans-serif;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.466);
}

.sub_menu{
    background-color: rgb(162, 187, 255) !important;
}

body{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.151)), 
                      url("../IMG/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.letter_quicksand{
    font-family: "Quicksand",sans-serif;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.active{
    border-bottom: 1px solid black !important;
}

