.projects{
    border:1px solid rgba(65, 65, 65, 0.384);
    background-color: white;
    box-shadow: 0px 6px 5px rgb(85, 85, 85);
}

.title{
    font-family: "Quicksand",sans-serif;
}

.project_container{
    backdrop-filter: blur(4px);
    background-color: rgb(255, 255, 255);
}


.card-proyecto {
    font-family: "Quicksand",sans-serif;
    box-shadow: 0 4px 10px rgba(65, 65, 65, 0.284);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: linear-gradient(to bottom,#b3d7ec,#ffffff);
}

.card-proyecto:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgb(85, 85, 85);
    cursor: pointer;
}

.project_options:hover {
    transform: scale(1.2); /* 1.0 es el tamaño original */
    transition: transform 0.2s ease-in-out;
}

.div_filter_projects{
    background: 
    linear-gradient(to right, rgb(106, 173, 164), rgb(128, 255, 166)),
    linear-gradient(to bottom, rgb(0, 238, 255), rgb(0, 51, 128));
  
  
}